In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [2]:
data = pd.read_csv("data/data.csv")
data.head()

,SubjectID,aveOralF,aveOralM,Gender,Age,Ethnicity,T_atm,Humidity,Distance,T_offset1,...,T_FHCC1,T_FHRC1,T_FHLC1,T_FHBC1,T_FHTC1,T_FH_Max1,T_FHC_Max1,T_Max1,T_OR1,T_OR_Max1
0,161117-1,36.85,36.59,Male,41-50,White,24.0,28.0,0.8,0.7025,...,33.5775,33.4775,33.3725,33.4925,33.0025,34.5300,34.0075,35.6925,35.6350,35.6525
1,161117-2,37.00,37.19,Female,31-40,Black or African-American,24.0,26.0,0.8,0.7800,...,34.0325,34.0550,33.6775,33.9700,34.0025,34.6825,34.6600,35.1750,35.0925,35.1075
2,161117-3,37.20,37.34,Female,21-30,White,24.0,26.0,0.8,0.8625,...,34.9000,34.8275,34.6475,34.8200,34.6700,35.3450,35.2225,35.9125,35.8600,35.8850
3,161117-4,36.85,37.09,Female,21-30,Black or African-American,24.0,27.0,0.8,0.9300,...,34.4400,34.4225,34.6550,34.3025,34.9175,35.6025,35.3150,35.7200,34.9650,34.9825
4,161117-5,36.80,37.04,Male,18-20,White,24.0,27.0,0.8,0.8950,...,35.0900,35.1600,34.3975,34.6700,33.8275,35.4175,35.3725,35.8950,35.5875,35.6175

In [3]:
data.describe()

,aveOralF,aveOralM,T_atm,Humidity,Distance,T_offset1,Max1R13_1,Max1L13_1,aveAllR13_1,aveAllL13_1,...,T_FHCC1,T_FHRC1,T_FHLC1,T_FHBC1,T_FHTC1,T_FH_Max1,T_FHC_Max1,T_Max1,T_OR1,T_OR_Max1
count,1020.000000,1020.000000,1020.000000,1020.000000,1018.000000,1020.000000,1020.000000,1020.000000,1020.000000,1020.000000,...,1020.000000,1020.000000,1020.000000,1020.000000,1020.000000,1020.000000,1020.000000,1020.000000,1020.000000,1020.000000
mean,36.979216,37.028382,24.115392,28.723039,0.729784,0.968648,35.596533,35.611474,34.888475,35.011345,...,34.573865,34.567782,34.565340,34.487701,34.577293,35.421555,35.094144,36.084785,35.805519,35.838277
std,0.386403,0.509502,1.336338,13.071627,2.456486,0.362587,0.574888,0.549760,0.718613,0.633836,...,0.672461,0.669410,0.678663,0.668065,0.728678,0.523477,0.576045,0.491821,0.559258,0.559316
min,35.750000,35.540000,20.200000,9.900000,0.540000,-0.590000,33.897500,34.122500,31.770000,32.902500,...,31.050000,31.452500,31.657500,31.280000,31.150000,33.407500,32.440000,34.892500,33.802500,33.835000
25%,36.800000,36.777500,23.400000,17.600000,0.600000,0.772500,35.247500,35.271875,34.456250,34.651250,...,34.213125,34.180000,34.177500,34.096875,34.225000,35.116875,34.756458,35.775000,35.474375,35.500000
50%,36.900000,36.940000,24.000000,26.300000,0.620000,0.940000,35.548750,35.575000,34.915000,34.997500,...,34.605000,34.597500,34.602500,34.512917,34.622500,35.391250,35.100000,36.027500,35.790000,35.825000
75%,37.100000,37.140000,24.700000,36.200000,0.700000,1.140000,35.872500,35.883125,35.300000,35.363125,...,34.965625,34.968125,34.965000,34.878125,35.012500,35.675000,35.415000,36.280000,36.087500,36.120625
max,39.600000,40.340000,29.100000,61.200000,79.000000,2.875000,38.405000,38.042500,37.575000,37.680000,...,37.125000,37.075000,37.165000,37.212500,37.367500,38.002500,37.632500,38.807500,38.417500,38.455000

In [4]:
inference_size = int(len(data) * 0.05)
inference_subset = data.sample(inference_size, random_state=42)
inference_subset.to_csv('data/inference_subset.csv', index=False)

In [5]:
inference = pd.read_csv("data/inference_subset.csv")
inference.head()

,SubjectID,aveOralF,aveOralM,Gender,Age,Ethnicity,T_atm,Humidity,Distance,T_offset1,...,T_FHCC1,T_FHRC1,T_FHLC1,T_FHBC1,T_FHTC1,T_FH_Max1,T_FHC_Max1,T_Max1,T_OR1,T_OR_Max1
0,171107-04,36.90,37.09,Male,41-50,Black or African-American,24.1,30.2,0.70,0.807500,...,34.440000,34.4750,34.380000,34.482500,34.2575,35.162500,35.1375,36.032500,35.9975,36.017500
1,171208-08,36.75,36.74,Male,31-40,White,23.4,15.1,0.70,0.972500,...,33.875000,33.5750,33.732500,33.795000,33.7875,34.580000,34.3500,35.452500,35.3350,35.367500
2,171108-02,36.75,36.79,Female,18-20,White,25.4,28.2,0.65,1.150000,...,34.567500,33.9600,34.957500,33.600000,35.3875,36.175000,35.6600,36.320000,34.4575,34.492500
3,161205-2,36.65,36.49,Male,>60,Asian,22.8,33.0,0.80,0.675000,...,34.120000,33.8975,34.205000,34.112500,33.9800,34.712500,34.4950,35.727500,35.6925,35.727500
4,180124-05,36.80,36.79,Male,26-30,Asian,23.8,20.6,0.60,0.763333,...,34.713333,34.7300,34.756667,34.513333,34.8700,35.226667,35.0800,35.786667,35.6200,35.643333